main{
    display: flex;
    justify-content: center;
    
 
    
}
section{
    background-image: url("img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
   
}
h1{
   text-align: center;
}
.chiffre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.centre{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}
img{
    border-radius: 70px;
    position: absolute;
    z-index: auto;
    
    
    
}

.monprofil{
    margin-left: -30px;
   text-align: center;
}
.bas{
    margin-top: 10%;
}