
.center{
    display: flex;
    justify-content: center;
}
.gauche{
    background-color: rgb(245, 241, 241);
   
    padding-top: 30px;
    padding-bottom: 20px;
}
.droite{
    text-align: right;
    background-color: rgb(110, 35, 180);
    width: 300px;
    text-align: center;
    padding-top: 100px;
}
.log{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
}
.mydiv{
   
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.myinput{
    width: 220px;
    height: 23px;
} 
.btn1{
    background-color: rgb(110, 35, 180);
    height: 23px;
    width: 220px;
    border: none;
    color: white;
}

.btn2{
    background-color: rgb(110, 35, 180); 
    border: 1px solid black;
     border-radius: 8px;
     color: white;
     height: 34px;
     font-size: 15px;
}