main{
    display: flex;
    justify-content: center;
    
 
    
}
section{
    background-image: url("img.jpg");
    width: 80%;
   
}
h1{
   text-align: center;
}
.chiffre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.centre{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}