<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap-4.5.2-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <section class="sideNavBar" id="soa"> 
            <div class="nav">
                <p>salut</p>
            </div>
        </section>

        <section class="corps">

        </section>

        <section class="pied">

        </section>
    </body>
</html>