section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 10%;
   
}
nav{
    background-color: rgb(196, 196, 189);
   
    flex: 0.8;
    padding: 20px;
}
main{
    flex: 3;
    display: block;
    display: grid;
    grid-row-gap:0px;
   padding-left: 20px;
   text-align: justify ;
}

.profil{
    border-radius: 70px;
}
.icone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    
}
.name{
    padding-top: 30px;
    display: block;
    text-align: center;
}
i{
    font-size: 24px;
}
.div3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.myspan{
    font-weight:bold ;
    font-size: 15px;
}

@media only screen and (max-width:650px){
    main{
        font-size: 14px;
        display: block;
        
        
    }
    .myspan{
        font-weight:bold ;
        font-size: 14px;
    }
}

@media only screen and (max-width:600px){
    main{
        font-size: 8px;
        display: block;
        
        
    }
    .myspan{
        font-weight:bold ;
        font-size: 8px;
    }
}