.start div{
  height: 25px;
  width: 25px;
}
.start1 div{
  height: 25px;
  width: 25px;
}
.start {
 display: flex;
 flex-direction: row;
 grid-column-gap: 1.5px;
 justify-content: center;

}
.start1 {
  display: flex;
  flex-direction: row;

  justify-content: center;
 
 }
.div1{
  background-color: orange;
}

.div2{
  background-color: rgb(206, 171, 108);
}
.div3{
  background-color: rgb(104, 50, 12);
}
.section1{
  display: flex;
 flex-direction: column;
 grid-row-gap: 1.5px;
 
}
.section2{
  display: flex;
 flex-direction: column;

 
}

.div11{
  background-color: rgb(202, 202, 201);
}

.div21{
  background-color: rgb(134, 134, 132);
}
.div31{
  background-color: rgb(61, 60, 60);
}
.div41{
  background-color: rgb(5, 5, 5);
}

.div111{
  background-color: white;
}

.div211{
  background-color: rgb(212, 104, 104);
}
.div311{
  background-color: rgb(209, 41, 41);
}